# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# for mac
.DS_Store

# binary
client
test
do_nothing

# dump files
out.txt

# img
*.jpg
*.png

*~
log_*
logs/

