# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# for mac
.DS_Store

# binary
client
buysell
test
do_nothing
attack_v1
aim_bug_v1
aim_bug_v2
aim_bug_v2_with_attack_v2

# dump files
out.txt

# img
*.jpg
*.png

*~
log_*
logs/

